<div class="row">

  <div class="col-xs-7" style="font-size: 18px;">
    {% if paid %}
    <strong>Facture aquittée le :</strong>
    <samp>&nbsp;{{ created }}</samp>
    {% endif %}
  </div>

  <div class="col-xs-4 col-xs-offset-1">
      <table class="table table-bordered table-condensed">

        <tr>
          <th>Sous-Total</th>
          <td class="text-right">
            <samp>{{ subtotal }}&euro;</samp>
          </td>
        </tr>

        <tr>
          <th>
            TVA&#42; <samp>{{ tax_percent }}%</samp>
          </th>
          <td class="text-right">
            <samp>{{ tax }}&euro;</samp>
          </td>
        </tr>

        <tr>
          <th>Total TTC</th>
          <td class="text-right">
            <samp>
              {{ total }}&euro;
            </samp>
          </td>
        </tr>

      </table>
      <div class="text-center" style="margin-top: -15px;">
        <strong>Date d'échéance :</strong>
        <samp>{{ created }}</samp>
      </div>

  </div>
</div>
