
<div class="row bottom-space" id="abonnements"></div>
<div class="row">

   <div class="col s12 m8 offset-m2 l6 offset-l3 center-align">

     <h3>
       Abonnements
     </h3>

     <p class="description">
       Nos abonnements sont sans engagement de durée.

       Vous pouvez les modifier ou les résilier à tout moment.
     </p>

   </div>

</div>

<div class="row bottom-space">

  <div class="col s12 m6 l4 offset-l2">
    {% include "front/pricing/free.html" %}
  </div>

  <div class="col s12 m6 l4">
    {% include "front/pricing/small.html" %}
  </div>

  <div class="col s12 m6 l4 offset-l2">
    {% include "front/pricing/medium.html" %}
  </div>

  <div class="col s12 m6 l4">
    {% include "front/pricing/large.html" %}
  </div>

</div>
