<md-dialog aria-label="Nous contacter" flex="40">


  <app-widgets-common-dialog-toolbar>Nous contacter</app-widgets-common-dialog-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content">

      <div layout="column">

        <p class="md-body-1">
          Horodata est une solution développée et commercialisée par Hyperboloide.<br>
          Vous avez une suggestion d'amélioration, une question ou besoin d'aide, notre équipe se tient à votre disposition.
          Nous ferons de notre mieux pour vous répondre au plus vite.
          <br>
          <br>
          Pour nous contacter, voici nos coordonnées :
        </p>

        <md-whiteframe class="md-whiteframe-1dp" layout="column" layout-padding flex>

          <div layout="column" class="static-input" flex>
            <span class="md-caption text-grey">Email</span>
            <div>
              <a href="mailto:contact@hyperboloide.com">contact@hyperboloide.com</a>
            </div>
          </div>

          <app-widgets-input-static-text
            text="05 64 88 01 67"
            caption="Téléphone"
            help="Du lundi au samedi de 9h à 19h">
          </app-widgets-input-static-text>

        </md-whiteframe>

        <p class="md-body-1">
          Vous pouvez également nous envoyer un message à l'aide du formulaire suivant :
        </p>

        <md-input-container class="md-block"  ng-class="{'md-input-invalid': errors.content}" >
          <label>Message</label>
          <textarea md-no-autogrow ng-model="message.content" rows="3" md-select-on-focus></textarea>
          <small ng-if="errors.content" class="input-error">{{ errors.comment }}</small>
        </md-input-container>

      </div>
    </div>
  </md-dialog-content>

  <app-widgets-common-dialog-actions>
    <md-button ng-if="message.content" ng-click="send()" class="md-primary md-raised">Envoyer</md-button>
  </app-widgets-common-dialog-actions>

</md-dialog>
