<div flex layout="column">

  <md-content ng-if="!isLoading && group" flex>
    <md-tabs md-selected="selectedTab.id" md-stretch-tabs="auto" md-dynamic-height md-border-bottom>

      <md-tab label="Saisies" layout="row">
        <md-content md-swipe-left="goRight()" flex>
          <app-widgets-empty-group-boxed ng-if="group.tasks.length == 0 || group.customers.length == 0" group="group"></app-widgets-empty-group-boxed>
          <app-widgets-listing ng-if="group.tasks.length > 0 && group.customers.length > 0"></app-widgets-listing>
        </md-content>
      </md-tab>


      <md-tab ng-if="isAdmin" label="Statistiques">
        <div md-swipe-left="goRight()" md-swipe-right="goLeft()" layout=column>
          <app-widgets-empty-group-boxed ng-if="group.tasks.length == 0 || group.customers.length == 0" group="group"></app-widgets-empty-group-boxed>
          <app-widgets-stats ng-if="group.tasks.length > 0 && group.customers.length > 0"></app-widgets-stats>
        <div>
      </md-tab>

      <md-tab label="Configuration" layout="column" layout-margin>
        <div md-swipe-right="goLeft()">
          <app-widgets-configuration> </app-widgets-configuration>
        </div>
      </md-tab>

    </md-tabs>
  </md-content>

  <app-widgets-common-loading ng-if="isLoading"></app-widgets-common-loading>

  <div ng-if="!isLoading && groupError == 'Forbidden'" layout-padding layout="row" layout-align="center center">
    <div flex-gt-sm="50" >
      <h3 class="md-display-1">Vous n'avez pas accès à ce groupe.</h3>
      <p class="md-subhead">
        Si vous connaissez le propriétaire, demandez-lui de vous inviter.
      </p>
    </div>
  </div>

  <div ng-if="!isLoading && groupError == 'NotFound'" layout-padding layout="row" layout-align="center center">
    <div flex-gt-sm="50" >
      <h3 class="md-display-1">Aucun groupe n'existe à cette adresse.</h3>
      <p class="md-subhead">
        Veuillez vérifier l'adresse.
      </p>
    </div>
  </div>

  <div ng-if="!isLoading && groupError == 'unknow'" layout-padding layout="row" layout-align="center center">
    <div flex-gt-sm="50" >
      <h3 class="md-display-1">Une erreur s'est produite !</h3>
      <p class="md-subhead">
        Nous en sommes désolés.
      </p>
    </div>
  </div>

</div>
