<div layout="row" layout-align="center center">

  <div layout="column" layout-padding hide show-gt-md flex="50" ng-cloak>

      <h1 class="md-display-1" layout-align="center center" layout="row">
        <span>Bienvenue sur Horodata</span>
      </h1>

      <p class="md-body-1">
        Pour commencer à saisir vos activités, sélectionnez un groupe.
        <br>
        <br>
        Si vous ne possédez pas encore de groupe, cliquez sur le bouton
        <span class="md-body-2">"Créer un groupe"</span> dans la barre de gauche.
      </p>

      <div layout-align="center center" layout="column">
        <img height="100" src="/static/images/creer_un_groupe.png" />
        <span class="md-caption text-grey">(bouton "Créer un groupe")</span>
      </div>
  </div>


  <div layout="column" layout-padding hide-gt-md flex flex-sm="70" flex-gt-sm="50" ng-cloak>

      <h1 class="md-display-1" layout-align="center center" layout="row">
        <span>Bienvenue sur Horodata</span>
      </h1>

      <p class="md-body-1">
        Pour commencer à saisir vos activités,
        sélectionnez un groupe en ouvrant le menu en haut à gauche de la page :
      </p>

      <div layout-align="center center" layout="column">
        <img height="40" src="/static/images/menu.png" />
        <span class="md-caption text-grey">(bouton pour ouvrir le menu)</span>
      </div>

      <p class="md-body-1">

        Si vous ne possédez pas encore de groupe, cliquez sur le bouton
        <span class="md-body-2">"Créer un groupe"</span>.
      </p>
      <div layout-align="center center" layout="column">
        <img height="100" src="/static/images/creer_un_groupe.png" />
        <span class="md-caption text-grey">(bouton "Créer un groupe")</span>
      </div>
  </div>

</div>
