<md-dialog aria-label="Profile" flex="40">

  <form name="profileForm">

    <app-widgets-common-dialog-toolbar>Profil</app-widgets-common-dialog-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

        <div layout="column">

          <div layout="column" class="static-input" flex>
            <span class="md-caption text-grey">Photo</span>
            <lf-ng-md-file-input
              lf-files='files'
              lf-placeholder="Selectionnez une image"
              lf-browse-label="Choisir"
              lf-remove-label="Enlever"
              accept="image/*"> </lf-ng-md-file-input>
            <span class="md-caption text-grey">Maximum 10 mo</span>
          </div>

          <app-widgets-input-text caption="Nom complet" error="errors.name" value="name"></app-widgets-input-text>

          <app-widgets-input-static-text caption="Email" text="{{ user.email }}"></app-widgets-input-static-text>

          <br>

        </div>
      </div>
    </md-dialog-content>

    <app-widgets-common-dialog-actions>
      <md-button ng-click="update()" class="md-primary md-raised">Modifier</md-button>
    </app-widgets-common-dialog-actions>

  </form>
</md-dialog>
