.DS_Store
static/bower_components/
static/app/node_modules/
static/front/node_modules/
vendor
utils/sgen/sgen
horo
services/mail/messages/bin.go
html/bin.go
horodata
glide.lock
utils/export/venv/
utils/export/export.pyc
utils/invoicing/invoicing
static/app/horodata.min.js
static/app/horodata.js
