<div  layout-padding>

  <div layout="column" flex-md="70" flex-gt-md="60">

    <div layout="row" layout-align="space-between center">

      <div layout="row" layout-align="center center" hide show-gt-sm>
        <md-icon class="md-36 md-accent">account_balance</md-icon>&nbsp;
        <span class="md-display-1">Adresse</span>
      </div>

      <div layout="row" layout-align="center center" hide-gt-sm>
        <md-icon class="md-accent">account_balance</md-icon>&nbsp;
        <span class="md-headline">Adresse<span>
      </div>

      <md-button ng-click="editAddr($event)" class="md-raised md-primary" hide show-gt-sm>
        <md-tooltip md-direction="top">
          Editer les informations de Facturation
        </md-tooltip>
        <md-icon class="md-18">edit</md-icon>
        Editer
      </md-button>

      <md-button ng-click="editAddr($event)" class="md-fab md-mini md-primary" hide-gt-sm aria-label="Editer les informations de Facturation">
        <md-icon class="md-24">edit</md-icon>
      </md-button>
    </div>

    <p class="md-body-1">
      Ces informations apparaitront sur votre facture.
      <br>
    </p>


    <app-widgets-common-loading ng-if="loading"></app-widgets-common-loading>

    <md-whiteframe ng-if="!loading" class="md-whiteframe-1dp" flex layout-padding>

      <div ng-if="!addr.current"  layout="row" layout-align="center center" flex>
        <span>Aucune information.</span>
      </div>

      <div ng-if="addr.current" layout="column">

        <div layout-xs="column" layout="row">
          <div layout="column" flex>
            <span class="md-caption text-grey">Nom</span>
            <div>{{ addr.current.name }}</div>
          </div>

          <br hide show-xs>

          <div layout="column" flex>
            <span class="md-caption text-grey">Email (desitinataire des factures)</span>
            <div>{{ addr.current.email }}</div>
          </div>
        </div>

        <br ng-if="addr.current.company || addr.current.vat">

        <div layout-xs="column" layout="row">
          <div layout="column" ng-if="addr.current.company" flex>
            <span class="md-caption text-grey">Raison Sociale</span>
            <div>{{ addr.current.company }}</div>
          </div>

          <br ng-if="addr.current.var" hide show-xs>

          <div layout="column" ng-if="addr.current.vat" flex>
            <span class="md-caption text-grey">TVA</span>
            <div>{{ addr.current.vat }}</div>
          </div>
        </div>

        <br>

        <div layout="column" flex>
          <span class="md-caption text-grey">Adresse (première ligne)</span>
          <div>{{ addr.current.addr1 }}</div>
        </div>

        <br ng-if="addr.current.addr2">

        <div layout="column" ng-if="addr.current.addr2" flex>
          <span class="md-caption text-grey">Adresse (seconde ligne)</span>
          <div>{{ addr.current.addr2 }}</div>
        </div>

        <br>

        <div layout-xs="column" layout="row">
          <div layout="column" flex>
            <span class="md-caption text-grey">Ville</span>
            <div>{{ addr.current.city }}</div>
          </div>

          <br hide show-xs>

          <div layout="column" flex>
            <span class="md-caption text-grey">Code Postal</span>
            <div>{{ addr.current.zip }}</div>
          </div>
        </div>

      </div>

    </md-whiteframe>



  </div>

</div>
