<div  layout-padding>

  <div layout="column" flex-md="70" flex-gt-md="60">

    <div layout="row" layout-align="space-between center">

      <div layout="row" layout-align="center center" hide show-gt-sm>
        <md-icon class="md-36 md-accent">account_balance</md-icon>&nbsp;
        <span class="md-display-1">Adresse</span>
      </div>

      <div layout="row" layout-align="center center" hide-gt-sm>
        <md-icon class="md-accent">account_balance</md-icon>&nbsp;
        <span class="md-headline">Adresse<span>
      </div>

      <md-button ng-click="editAddr($event)" class="md-raised md-primary" hide show-gt-sm>
        <md-tooltip md-direction="top">
          Editer les informations de facturation
        </md-tooltip>
        <md-icon class="md-18">edit</md-icon>
        Editer
      </md-button>

      <md-button ng-click="editAddr($event)" class="md-fab md-mini md-primary" hide-gt-sm aria-label="Editer les informations de Facturation">
        <md-icon class="md-24">edit</md-icon>
      </md-button>
    </div>

    <p class="md-body-1">
      Ces informations apparaîtront sur votre facture.
      <br>
    </p>

    <app-widgets-common-loading ng-if="loading"></app-widgets-common-loading>

    <md-whiteframe ng-if="!loading" class="md-whiteframe-1dp" flex layout-padding>

      <div ng-if="!addr.current"  layout="row" layout-align="center center" flex>
        <span>Vous n'avez pas saisi vos information.</span>
      </div>

      <div ng-if="addr.current" layout="column">

        <div layout-xs="column" layout="row">
          <app-widgets-input-static-text caption="Nom Complet" text="{{ addr.current.name }}">
          </app-widgets-input-static-text>
          <br hide show-xs>
          <app-widgets-input-static-text caption="Email (destinataire des factures)" text="{{  addr.current.email }}">
          </app-widgets-input-static-text>
        </div>

        <br ng-if="addr.current.company || addr.current.vat">

        <div layout-xs="column" layout="row">
          <app-widgets-input-static-text ng-if="addr.current.company" caption="Raison sociale" text="{{  addr.current.company }}">
          </app-widgets-input-static-text>
          <br ng-if="addr.current.var" hide show-xs>
          <app-widgets-input-static-text ng-if="addr.current.vat" caption="TVA" text="{{  addr.current.vat }}">
          </app-widgets-input-static-text>
        </div>

        <br>

        <app-widgets-input-static-text caption="Adresse (première ligne)" text="{{  addr.current.addr1 }}">
        </app-widgets-input-static-text>

        <br ng-if="addr.current.addr2">

        <app-widgets-input-static-text ng-if="addr.current.addr2" caption="Adresse (seconde ligne)" text="{{  addr.current.addr2 }}">
        </app-widgets-input-static-text>

        <br>

        <div layout-xs="column" layout="row">
          <app-widgets-input-static-text caption="Ville" text="{{  addr.current.city }}">
          </app-widgets-input-static-text>
          <br hide show-xs>
          <app-widgets-input-static-text caption="Code postal" text="{{  addr.current.zip }}">
          </app-widgets-input-static-text>
        </div>

      </div>

    </md-whiteframe>

  </div>

</div>
