<md-card>
  <!-- <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{ plan.name }}</span>
    </md-card-title-text>
  </md-card-title> -->
  <md-card-content>
    <span class="md-headline">
      {{ plan.name }}
      <span ng-if="current == plan.code" class="md-body-1 text-accent">(Plan courant)</span>
    </span>
    <br>
    <br>
    <div>

      <md-divider></md-divider>
      <div layout-align="space-between center" layout="row">
        <span class="md-body-1">Utilisateurs</span>
        <span class="md-body-2">{{ plan.guests }}</span>
      </div>

      <md-divider></md-divider>
      <div layout-align="space-between center" layout="row">
        <span class="md-body-1">Groupes</span>
        <span class="md-body-2">{{ plan.groups }}</span>
      </div>

      <md-divider></md-divider>
      <div layout-align="space-between center" layout="row">
        <span class="md-body-1">Saisies (par jour)</span>
        <span class="md-body-2">{{ plan.jobs }}</span>
      </div>


      <br>

      <div ng-if="plan.price != 0" layout="column" layout-align="center center">
        <div layout-align="center center" layout="row">
          <span class="md-display-1">{{ plan.price }} &euro;</span>
          <span class="text-grey">&nbsp; / mois</span>
        </div>
        <span class="md-caption text-grey">hors taxes</span>
      </div>

      <div ng-if="plan.price == 0" layout="column" layout-align="center center">
        <div layout-align="center center" layout="row">
          <span class="md-display-1">Gratuit</span>
        </div>
        <span class="md-caption text-grey">Pour toujours</span>
      </div>


    </div>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">

    <md-button ng-if="current != plan.code" hide show-gt-sm class="md-raised md-primary">
      <md-icon>check</md-icon>
      Selectionner
    </md-button>

    <md-button ng-if="current != plan.code" hide-gt-sm class="md-fab md-primary">
      <md-icon>check</md-icon>
    </md-button>

    <md-button ng-if="current == plan.code" hide show-gt-sm class="md-raised" ng-disabled="true">
      <md-icon>check</md-icon>
      Plan courant
    </md-button>

    <md-button ng-if="current == plan.code" hide-gt-sm class="md-fab md-primary" ng-disabled="true">
      <md-icon>check</md-icon>
    </md-button>

  </md-card-actions>
</md-card>
