<md-dialog aria-label="Changer de plan" flex="60">
  <form name="planChange">

    <app-widgets-common-dialog-toolbar>
      Changer de plan
    </app-widgets-common-dialog-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

        <app-widgets-common-loading ng-if="preLoading"></app-widgets-common-loading>
        <billing-plan-not-ready ng-if="!preLoading && !ready"></billing-plan-not-ready>

        <div ng-if="!preLoading && ready && !done" layout="column" layout-gt-md="row">

          <billing-plan plan="plan" flex flex-gt-md="40" flex-sm="40" recap="true"></billing-plan>

          <div ng-if="plan.code !='free'" flex flex-gt-md="60" layout="column">

            <div layout-align="center center" layout="row">
              <h3 class="md-headline">
                Plan selectionné : <span class="text-accent">{{ plan.name }}</span>
              </h3>
            </div>


            <div layout-align="center center" layout="column">
            <md-input-container class="md-block"  ng-class="{'md-input-invalid': errors.accept}">
              <md-switch ng-model="form.accept" aria-label="J'ai lu et j'accepte les conditions generales de ventes">
                <p class="md-body-1">
                  J'ai lu et j'accepte les
                  <br>
                  <a href="/static/CGV.pdf" target="_blank">
                    conditions générales de vente
                    <md-icon class="md-18">open_in_new</md-icon>
                  </a>
                </p>
              </md-switch>
              <small ng-if="errors.accept" class="input-error">{{ errors.accept }}</small>
            </md-input-container>

            <div layout-align="center center" layout="row">
              <span class="md-caption text-grey">
                Votre nouveau plan sera effectif immédiatement.
              </span>
            </div>

            <div ng-if="errors.plan" layout-align="center center" layout-padding layout="row">
              <span class="md-subhead input-error">
                Le payement a ete refuse! Veuillez verifier que votre carte de
                credit est valide et que sa limite n'a pas ete atteinte.
              </span>
            </div>

          </div>

          </div>

          <div ng-if="plan.code =='free'" flex flex-gt-md="60" layout="column">
            <h3 class="md-headline">
              Souhaitez-vous vraiment revenir au plan gratuit ?
            </h3>
            <p class="md-body-1">
              Votre carte de crédit ne sera plus débitée mais vous ne serez pas remboursé du mois en cours.
              <br>
              <br>
              Vos quotas seront mis à jour le <strong>{{ period.end | Day }}</strong>, date de résiliation effective.
            </p>
          </div>
        </div>

        <div ng-if="done" layout="column" flex layout-align="center center" layout-padding>
          <h3 class="md-headline">
            Félicitations, votre abonnement a bien été mis a jour.
          </h3>
          <p>
            Merci de votre confiance.
          </p>
        </div>


      </div>
    </md-dialog-content>

    <app-widgets-common-dialog-actions ng-if="!done" ng-if="!preLoading">
      <md-button ng-if="ready && !done" ng-click="validate()" class="md-primary md-raised">Valider</md-button>
    </app-widgets-common-dialog-actions>

    <app-widgets-common-dialog-actions ng-if="done" close="Fermer"></app-widgets-common-dialog-actions>


  </form>
</md-dialog>
