<div layout-padding>

  <div layout="column" flex-sm="70" flex-md="80" flex-gt-md="60">

    <div layout="row" layout-align="space-between center">
      <div class="md-display-1" hide show-gt-sm>
        Dossiers
      </div>
      <div class="md-headline" hide-gt-sm>
        Dossiers
      </div>

      <md-button ng-click="customers.create($event)" class="md-raised md-primary" hide show-gt-sm>
        <md-tooltip md-direction="top">
          Ajouter de nouveaux dossiers
        </md-tooltip>
        <md-icon class="md-18">add</md-icon>
        Ajouter
      </md-button>

      <md-button ng-click="customers.create($event)" class="md-fab md-mini md-primary" hide-gt-sm aria-label="Ajouter de nouveaux dossiers">
        <md-icon class="md-24">add</md-icon>
      </md-button>
    </div>

    <p class="md-body-1">
      Listez l'ensemble des dossiers sur lesquels travaillent vos collaborateurs.
      <br>
      Les dossiers peuvent représenter vos clients ou divers projets.
    </p>

    <md-whiteframe ng-if="group.customers.length == 0" class="md-whiteframe-1dp md-accent" layout-padding layout="column" layout-align="center center">
      <div class="md-headline input-error">Aucun dossier</div>
      <div>Ajouter des dossiers pour permettre la saisie de tâches.</div>
    </md-whiteframe>

    <div layout="row" ng-if="group.customers.length > 0">
      <md-input-container flex>
        <label>Sélectionnez un dossier</label>
        <md-select ng-model="customers.selected">
          <md-option ng-repeat="c in group.customers" value="{{ c.id }}">
            {{ c.name }}
          </md-option>
        </md-select>
      </md-input-container>


      <md-button ng-if="customers.selected" ng-click="customers.edit($event)" class="md-fab md-mini md-accent" aria-label="Modifier le dossier">
        <md-tooltip md-direction="top">
          Modifier le dossier
        </md-tooltip>
        <md-icon class="md-24">edit</md-icon>
      </md-button>

    </div>

  </div>

</div>
