<md-dialog aria-label="Modifier le dossier" flex="40">
  <form name="editCustomerForm">

    <app-widgets-common-dialog-toolbar>Modifier le dossier</app-widgets-common-dialog-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block"  ng-class="{'md-input-invalid': errors.name}" >
          <label>Nom du dossier</label>
          <input md-maxlength="40" type="text" ng-model="customers.current.name">
          <small ng-if="errors.name" class="input-error">{{ errors.name }}</small>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions ng-if="!loading">
      <md-button ng-click="edit()" class="md-primary md-raised">Modifier</md-button>
      <md-button ng-click="delete()" class="md-warn md-raised">Supprimer</md-button>
      <md-button ng-click="close()" class="md-raised">Annuler</md-button>
    </md-dialog-actions>

    <md-dialog-actions ng-if="loading">
      <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </md-dialog-actions>

  </form>
</md-dialog>
