<div  layout-margin layout-padding>

  <div layout="column" flex-sm="70" flex-md="80" flex-gt-md="60">

    <div layout="row" layout-align="space-between center">
      <div class="md-display-1">
        Dossiers
      </div>

      <md-button ng-click="customers.create($event)" class="md-raised md-primary" hide show-gt-sm>
        <md-icon class="md-18">add</md-icon>
        Ajouter
      </md-button>

      <md-button ng-click="customers.create($event)" class="md-fab md-primary" hide-gt-sm aria-label="Ajouter un dossier">
        <md-tooltip md-direction="top">
          Ajouter un Dossier
        </md-tooltip>
        <md-icon class="md-36">add</md-icon>
      </md-button>
    </div>

    <p class="md-body-1">
      Un dossier peut representer un client ou un projet.
      Chaque nouvelle tache est attachee a un dossier.
    </p>

    <md-whiteframe ng-if="group.customers.length == 0" class="md-whiteframe-1dp md-accent" layout-padding layout="column" layout-align="center center">
      <div class="md-headline input-error">Aucune dossier enregistre</div>
      <div>Vous devez definir des dossiers pour la saisie.</div>
    </md-whiteframe>

    <div layout="row" ng-if="group.customers.length > 0">
      <md-input-container flex>
        <label>Selectionnez un dossiers pour l'editer</label>
        <md-select ng-model="customers.selected">
          <md-option ng-repeat="c in group.customers" value="{{ c.id }}">
            {{ c.name }}
          </md-option>
        </md-select>
      </md-input-container>

      <md-button ng-if="customers.selected" ng-click="customers.edit($event)" class="md-fab md-mini md-accent" aria-label="Editer un dossier">
        <md-tooltip md-direction="top">
          Modifier le dossier
        </md-tooltip>
        <md-icon class="md-24">edit</md-icon>
      </md-button>

    </div>

  </div>

</div>
