<md-dialog aria-label="Ajouter de nouveaux dossiers" flex="40">
  <form name="newCustomerForm">

    <app-widgets-common-dialog-toolbar>Ajouter de nouveaux dossiers</app-widgets-common-dialog-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

        <md-input-container class="md-block"  ng-class="{'md-input-invalid': errors.customers}" >
          <label>Nom des dossiers (un dossier par ligne)</label>
          <textarea md-no-autogrow ng-model="customers.current.customers" rows="5" md-select-on-focus></textarea>
          <small ng-if="errors.customers" class="input-error">{{ errors.customers }}</small>
        </md-input-container>

      </div>
    </md-dialog-content>

    <app-widgets-common-dialog-actions>
      <md-button ng-click="create()" class="md-primary md-raised">Ajouter</md-button>
    </app-widgets-common-dialog-actions>

  </form>
</md-dialog>
