<md-dialog aria-label="Modifier l'utilisateur" flex="40">
  <form name="newUserForm">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Modifier l'utilisateur
          <span ng-if="!guests.current.full_name">{{ guests.current.email }}</span>
          <span ng-if="guests.current.full_name">{{ guests.current.full_name }}</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Fermer" ng-click="close()">
          <md-icon class="md-24">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

        <md-input-container class="md-block"  ng-class="{'md-input-invalid': errors.rate}" >
          <label>Taux horaire</label>
          <input type="number" ng-model="guests.current.rate" ng-value="0">
          <small ng-if="errors.rate" class="input-error">{{ errors.rate }}</small>
        </md-input-container>

        <md-input-container class="md-block"  ng-class="{'md-input-invalid': errors.admin}" >
          <md-switch ng-model="guests.current.admin" aria-label="Droit administrateur">
            Droit administrateur
          </md-switch>
          <div class="input-hint">Cochez la case, si vous souhaitez autoriser cet utilisateur, à accéder à la configuration et aux données de tous les utilisateurs du groupe.</div>
          <small ng-if="errors.admin" class="input-error">{{ errors.admin }}</small>
        </md-input-container>

      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button ng-click="edit()" class="md-primary md-raised">Modifier</md-button>
      <md-button ng-click="delete()" class="md-warn md-raised">Supprimer</md-button>
      <md-button ng-click="close()" class="md-raised">Annuler</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
