<div  layout-margin layout-padding>

  <div layout="column" flex-sm="70" flex-md="80" flex-gt-md="60">

    <div layout="row" layout-align="space-between center">
      <div class="md-display-1">
        Utilisateurs
      </div>

      <md-button ng-click="guests.create($event)" class="md-raised md-primary" hide show-gt-sm>
        <md-icon class="md-18">add</md-icon>
        Ajouter
      </md-button>

      <md-button ng-click="guests.create($event)" class="md-fab md-primary" hide-gt-sm aria-label="Ajouter un nouvel utilisateur">
        <md-tooltip md-direction="top">
          Ajouter un nouvel utilisateur
        </md-tooltip>
        <md-icon class="md-36">add</md-icon>
      </md-button>
    </div>

    <p class="md-body-1">
      Invitez vos collaborateurs à saisir leurs tâches dans Horodata.
      <br>
    </p>

    <div layout="row" ng-if="group.guests.length > 0">
      <md-input-container flex>
        <label>Selectionnez un utilisateur</label>
        <md-select ng-model="guests.selected">
          <md-option ng-repeat="g in group.guests" value="{{ g.id }}">
            <span ng-if="!g.full_name">{{ g.email }}</span>
            <span ng-if="g.full_name">
              {{ g.full_name }}
              <small>{{ g.email }}</small>
            </span>
          </md-option>
        </md-select>
      </md-input-container>

        <md-button ng-if="guests.selected" ng-click="guests.edit($event)" class="md-fab md-mini md-accent" aria-label="Editer une tâche">
          <md-tooltip md-direction="top">
            Modifier l'utilisateur
          </md-tooltip>
          <md-icon class="md-24">edit</md-icon>
        </md-button>

    </div>

  </div>

</div>
