<div  layout-padding>

  <div layout="column" flex-md="70" flex-gt-md="60">

    <div layout="row" layout-align="space-between center">
      <div class="md-display-1" hide show-gt-sm>
        Utilisateurs
      </div>
      <div class="md-headline" hide-gt-sm>
        Utilisateurs
      </div>

      <md-button ng-click="guests.create($event)" class="md-raised md-primary" hide show-gt-sm>
        <md-tooltip md-direction="top">
          Inviter un nouvel utilisateur
        </md-tooltip>
        <md-icon class="md-18">add</md-icon>
        Inviter
      </md-button>

      <md-button ng-click="guests.create($event)" class="md-fab md-mini md-primary" hide-gt-sm aria-label="Inviter un nouvel utilisateur">
        <md-icon class="md-24">add</md-icon>
      </md-button>
    </div>

    <p class="md-body-1">
      Invitez vos collaborateurs à saisir leurs activités quotidiennes dans Horodata.
      <br>
    </p>


    <md-whiteframe class="md-whiteframe-1dp" flex layout-padding layout="space-around center" ng-if="group.guests.length > 0">
      <div layout="row" flex>
        <md-input-container flex>
          <label>Selectionnez un utilisateur</label>
          <md-select ng-model="guests.selected">
            <md-option ng-repeat="g in group.guests" ng-if="g.active" value="{{ g.id }}">

                <span ng-if="g.full_name">
                  {{ g.full_name }}&nbsp;
                </span>
                <span ng-class="{'md-caption': g.full_name}">{{ g.email }} &nbsp;</span>
                <strong ng-if="g.admin && g.user_id != group.owner" class="md-caption text-accent">(Administrateur) &nbsp;</strong>
                <strong ng-if="g.user_id == group.owner" class="md-caption text-accent">(Propriétaire) &nbsp;</strong>

            </md-option>
          </md-select>
        </md-input-container>

          <md-button ng-if="guests.selected" ng-click="guests.edit($event)" class="md-fab md-mini md-accent" aria-label="Editer une utilisateur">
            <md-tooltip md-direction="top">
              Modifier l'utilisateur
            </md-tooltip>
            <md-icon class="md-24">edit</md-icon>
          </md-button>
      </div>
    </md-whiteframe>

  </div>

</div>
