<div layout-padding>

  <div layout="column" flex-md="70" flex-gt-md="60">

    <div layout="row" layout-align="space-between center">
      <div class="md-display-1" hide show-gt-sm>
        Tâches
      </div>
      <div class="md-headline" hide-gt-sm>
        Tâches
      </div>

      <md-button ng-click="tasks.create($event)" class="md-raised md-primary" hide show-gt-sm>
        <md-tooltip md-direction="top">
          Ajouter une tâche
        </md-tooltip>
        <md-icon class="md-18">add</md-icon>
        Ajouter
      </md-button>

      <md-button ng-click="tasks.create($event)" class="md-fab md-primary md-mini" hide-gt-sm aria-label="Ajouter une tâche">
        <md-icon class="md-24">add</md-icon>
      </md-button>
    </div>

    <p class="md-body-1">
      Ajoutez les types de tâche qu'accomplissent vos collaborateurs.
    </p>

    <md-whiteframe ng-if="group.tasks.length == 0" class="md-whiteframe-1dp md-accent" layout-padding layout="column" layout-align="center center">
      <div class="md-headline input-error">Aucune tâche</div>
      <div>Ajouter des tâches pour rendre possible la saisie.</div>
    </md-whiteframe>

    <md-whiteframe class="md-whiteframe-1dp" flex layout-padding layout="space-around center" ng-if="group.tasks.length > 0">

      <div layout="row" flex>
        <md-input-container flex>
          <label>Sélectionnez une tâche</label>
          <md-select ng-model="tasks.selected">
            <md-option ng-repeat="t in group.tasks" ng-if="t.active" value="{{ t.id }}">
              {{ t.name }}
              <small ng-if="t.comment_mandatory">(Commentaire obligatoire)</small>
            </md-option>
          </md-select>
        </md-input-container>

        <md-button ng-if="tasks.selected" ng-click="tasks.edit($event)" class="md-fab md-mini md-accent" aria-label="Editer une tâche">
          <md-tooltip md-direction="top">
            Modifier la tâche
          </md-tooltip>
          <md-icon class="md-24">edit</md-icon>
        </md-button>
      </div>

    </md-whiteframe>

  </div>

</div>
