<md-dialog aria-label="Ajouter une nouvelle tâche" flex="40">
  <form name="newTaskForm">

    <app-widgets-common-dialog-toolbar>
      <span ng-if="!tasks.current.id">Ajouter une nouvelle tâche</span>
      <span ng-if="tasks.current.id">Modifier la tâche {{ tasks.current.name }}</span>
    </app-widgets-common-dialog-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

        <md-input-container class="md-block"  ng-class="{'md-input-invalid': errors.name}" >
          <label>Nom de la tâche</label>
          <input md-maxlength="30" type="text" ng-model="tasks.current.name">
          <small ng-if="errors.name" class="input-error">{{ errors.name }}</small>
        </md-input-container>

        <md-input-container class="md-block"  ng-class="{'md-input-invalid': errors.admin}" >
          <md-switch ng-model="tasks.current.comment_mandatory" aria-label="Commentaire obligatoire">
            Commentaire obligatoire
          </md-switch>
          <div class="input-hint">Cochez la case, si vous souhaitez rendre le commentaire obligatoire.</div>
        </md-input-container>

      </div>
    </md-dialog-content>

    <app-widgets-common-dialog-actions>
      <md-button ng-if="!tasks.current.id" ng-click="create()" class="md-primary md-raised">Ajouter</md-button>
      <md-button ng-if="tasks.current.id" ng-click="edit()" class="md-primary md-raised">Modifier</md-button>
      <md-button ng-if="tasks.current.id" ng-click="delete()" class="md-warn md-raised">Supprimer</md-button>
    </app-widgets-common-dialog-actions>

  </form>
</md-dialog>
