<!DOCTYPE html>
<html lang="fr">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="utf-8">
  <meta name="description" content="Horodata">
  <meta name="author" content="Hyperboloide - https://hyperboloide.com">

  <title>Horodata</title>

  <link href="{{ ctx.StaticRoot }}/bower_components/Materialize/dist/css/materialize.min.css" rel="stylesheet" media="screen,projection">
  <link href="{{ ctx.StaticRoot }}/material_icons/material_icons.css" rel='stylesheet' type='text/css'>
  <link href="{{ ctx.StaticRoot }}/front/front.css" rel="stylesheet" media="screen,projection">

</head>

<body>

  {% include "front/menu.html" %}

  <main class="main">
    <div class="container">
      {% block content_base %}{% endblock %}
    </div>
  </main>

  {% include "front/footer.html" %}

  <script type="text/javascript" src="{{ ctx.StaticRoot }}/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="{{ ctx.StaticRoot }}/bower_components/Materialize/dist/js/materialize.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  <script>
  $(document).ready(function(){
      $(".button-collapse").sideNav({closeOnClick: true});
      $(".dropdown-button").dropdown({
        hover: true,
        constrain_width: false,
        alignment: 'right'
      });
  });
  </script>

  {% include "front/analytics.html" %}

  {% include "front/cookies.html" %}

</body>
</html>
