body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
header,
main,
footer {
  padding-left: 300px;
}
@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}
md-sidenav {
  height: 100%;
}
.input-error {
  color: #dd2c00;
}
.group-selected {
  color: #2196f3;
}
.text-primary {
  color: #2196f3;
}
.text-accent {
  color: #ff4081;
}
.input-hint {
  position: absolute;
  left: 2px;
  right: auto;
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey;
}
md-input-container textarea[md-no-autogrow].md-input {
  height: inherit;
  overflow-y: auto;
}
.free-space {
  height: 100px;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.md-14 {
  font-size: 14px;
  width: 14px;
  height: 14px;
}
.md-18 {
  font-size: 18px;
  width: 18px;
  height: 18px;
}
.md-24 {
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.md-36 {
  font-size: 36px;
  width: 36px;
  height: 36px;
}
.md-48 {
  font-size: 48px;
  width: 48px;
  height: 48px;
}
