<div>
  <div layout="row" layout-align="space-around center" hide show-gt-sm layout-padding>

      <div layout="row" flex="25" layout-align="center center" >
        <span>du</span>
        <md-datepicker  ng-model="search.begin" md-placeholder="Date début" md-max-date="search.end"></md-datepicker>
      </div>

      <div layout="row" flex="25" layout-align="center center" >
        <span>au</span>
        <md-datepicker ng-model="search.end" md-placeholder="Date fin" md-max-date="today"></md-datepicker>
      </div>

      <div flex="25">
        <div layout="row" layout-align="space-between center">
          <md-input-container class="no-margin" flex>
            <label>Dossier</label>
            <md-select ng-model="search.customer">
              <md-option ng-repeat="c in group.customers" ng-if="c.active" value="{{ c.id }}">
                {{ c.name }}
              </md-option>
            </md-select>
          </md-input-container>
          <md-button ng-click="search.customer = null" ng-if="search.customer" class="md-fab md-mini" aria-label="désélectionner">
            <md-icon>close</md-icon>
          </md-button>
        </div>
      </div>


      <div flex="25" ng-if="isAdmin">
        <div layout="row" layout-align="space-between center">
          <md-input-container class="no-margin" flex>
            <label>Utilisateur</label>
            <md-select ng-model="search.guest">
              <md-option ng-repeat="u in group.guests" ng-if="u.full_name && u.active" value="{{ u.id }}">
                {{ u.full_name }}
              </md-option>
            </md-select>
          </md-input-container>
          <md-button ng-click="search.guest = null" ng-if="search.guest" class="md-fab md-mini" aria-label="désélectionner">
            <md-icon>close</md-icon>
          </md-button>
        </div>
      </div>

  </div>

  <div layout="column"  hide show-sm layout-padding>
    <div layout="row" layout-align="space-around center" >
      <div>
        <span>du</span>
        <md-datepicker  ng-model="search.begin" md-placeholder="Date début" md-max-date="search.end"></md-datepicker>
      </div>
      <div>
        <span>au</span>
        <md-datepicker ng-model="search.end" md-placeholder="Date fin" md-max-date="today"></md-datepicker>
      </div>
    </div>
    <div layout="row" >
      <div layout="row" layout-align="space-between center" flex>
        <md-input-container class="no-margin" flex>
          <label>Dossier</label>
          <md-select ng-model="search.customer">
            <md-option ng-repeat="c in group.customers" ng-if="c.active" value="{{ c.id }}">
              {{ c.name }}
            </md-option>
          </md-select>
        </md-input-container>
        <md-button ng-click="search.customer = null" ng-if="search.customer" class="md-fab md-mini" aria-label="désélectionner">
          <md-icon>close</md-icon>
        </md-button>
      </div>
      <div layout="row" layout-align="space-between center" flex>
        <md-input-container class="no-margin" flex>
          <label>Utilisateur</label>
          <md-select ng-model="search.guest">
            <md-option ng-repeat="u in group.guests" ng-if="u.full_name && u.active" value="{{ u.id }}">
              {{ u.full_name }}
            </md-option>
          </md-select>
        </md-input-container>
        <md-button ng-click="search.guest = null" ng-if="search.guest" class="md-fab md-mini" aria-label="désélectionner">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </div>
  </div>

  <div layout="column"  hide show-xs layout-padding>
    <div>
      <span>du</span>
      <md-datepicker  ng-model="search.begin" md-placeholder="Date début" md-max-date="search.end"></md-datepicker>
    </div>
    <div>
      <span>au</span>
      <md-datepicker ng-model="search.end" md-placeholder="Date fin" md-max-date="today"></md-datepicker>
    </div>
    <div layout="row" layout-align="space-between center" flex>
      <md-input-container class="no-margin" flex>
        <label>Dossier</label>
        <md-select ng-model="search.customer">
          <md-option ng-repeat="c in group.customers" ng-if="c.active" value="{{ c.id }}">
            {{ c.name }}
          </md-option>
        </md-select>
      </md-input-container>
      <md-button ng-click="search.customer = null" ng-if="search.customer" class="md-fab md-mini" aria-label="désélectionner">
        <md-icon>close</md-icon>
      </md-button>
    </div>
    <div layout="row" layout-align="space-between center" flex>
      <md-input-container class="no-margin" flex>
        <label>Utilisateur</label>
        <md-select ng-model="search.guest">
          <md-option ng-repeat="u in group.guests" ng-if="u.full_name && u.active" value="{{ u.id }}">
            {{ u.full_name }}
          </md-option>
        </md-select>
      </md-input-container>
      <md-button ng-click="search.guest = null" ng-if="search.guest" class="md-fab md-mini" aria-label="désélectionner">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </div>


  <md-divider></md-divider>

</div>
