<div>

  <app-widgets-listing-filter></app-widgets-listing-filter>

  <div ng-if="listing.list.length > 0">

    <md-list class="md-body-1">

      <md-list-item class="md-body-2" hide show-gt-sm>
        <div layout="row" layout-align="space-between center" flex>
          <div flex="10">Jour</div>
          <div flex="30" ng-if="isAdmin">Utilisateur</div>
          <div flex="25">Dossier</div>
          <div flex="25">Tâche</div>
          <div flex="5">Durée</div>
        </div>
        <md-divider></md-divider>
      </md-list-item>

      <md-list-item ng-repeat="row in listing.list" ng-click="showDetail($event, row)" aria-label="Afficher la tâche.">
        <app-widgets-listing-row></app-widgets-listing-row>
        <md-divider></md-divider>
      </md-list-item>

    </md-list>

  </div>

  <div ng-if="!listing.loading && listing.hasMore()" layout-padding layout="row" layout-align="center center">
    <md-button ng-click="listing.next()" class="md-raised md-primary">
      <md-icon>arrow_downward</md-icon>
      <span>Résultats suivants</span>
      <md-icon>arrow_downward</md-icon>
    </md-button>
  </div>

  <app-widgets-common-loading ng-if="listing.loading"></app-widgets-common-loading>

  <app-widgets-common-no-data ng-if="!listing.loading && listing.list.length == 0" begin="search.begin" end="search.end">
  </app-widgets-common-no-data>

  <div ng-if="!listing.loading && listing.list.length > 0" layout-padding  layout-align="center center" layout="row" flex>
    <span class="md-body-1">résultats {{ listing.list.length }} / {{ listing.total }}</span>
  </div>

</div>
