<md-dialog aria-label="Détail de la saisie" flex="40">

  <form  name="editTaskForm">

    <app-widgets-common-dialog-toolbar warn="deleteMode">
      <span ng-if="!deleteMode">Détail de la saisie</span>
      <span ng-if="deleteMode">Effacer la saisie</span>
    </app-widgets-common-dialog-toolbar>

    <md-dialog-content ng-if="!deleteMode">
      <div class="md-dialog-content">

        <div ng-if="!canEdit" layout="column">

          <app-widgets-detail-meta></app-widgets-detail-meta>

          <app-widgets-input-static-text caption="Dossier" text="{{ customers[detailJob.customer_id].name }}">
          </app-widgets-input-static-text>

          <div layout="row">
            <app-widgets-input-static-text caption="Tâche" text="{{ tasks[detailJob.task_id].name }}">
            </app-widgets-input-static-text>

            <app-widgets-input-static-text caption="Durée" text="{{ detailJob.duration | Duration }}">
            </app-widgets-input-static-text>
          </div>

          <app-widgets-input-static-text
            ng-if="detailJob.comment"
            caption="Commentaire"
            text="{{ detailJob.comment }}">
          </app-widgets-input-static-text>

        </div>

        <div ng-if="canEdit" layout="column">

          <app-widgets-detail-meta></app-widgets-detail-meta>

          <md-input-container flex>
            <label>Dossier</label>
            <md-select ng-model="detailJob.customer_id">
              <md-option
                ng-repeat="c in group.customers"
                ng-if="c.active || detailJob.customer_id == c.id"
                value="{{ c.id }}">
                {{ c.name }}
              </md-option>
            </md-select>
            <small ng-if="errors.customer" class="input-error">{{ errors.customer }}</small>
          </md-input-container>

          <md-input-container flex>
            <label>Tâche</label>
            <md-select ng-model="detailJob.task_id">
              <md-option
                ng-repeat="t in group.tasks"
                ng-if="t.active || detailJob.task_id == t.id"
                value="{{ t.id }}">
                {{ t.name }}
              </md-option>
            </md-select>
            <small ng-if="errors.task" class="input-error">{{ errors.task }}</small>
          </md-input-container>

          <div layout="row" layout-align="space-between center">

            <md-input-container flex>
              <label>Durée en heures</label>
              <md-select ng-model="detailJob.hours">
                <md-option ng-repeat="h in hours" value="{{ h }}">
                  {{ h }}
                  <span ng-if="h > 1">heures</span>
                  <span ng-if="h <= 1">heure</span>
                </md-option>
              </md-select>
              <small ng-if="errors.duration" class="input-error">{{ errors.duration }}</small>
            </md-input-container>

            <md-input-container flex>
              <label>Durée en minutes</label>
              <md-select ng-model="detailJob.minutes">
                <md-option ng-repeat="m in minutes" value="{{ m }}">
                  {{ m }}
                  <span ng-if="m > 1">minutes</span>
                  <span ng-if="m <= 1">minute</span>
                </md-option>
              </md-select>
              <small ng-if="errors.duration" class="input-error">{{ errors.duration }}</small>
            </md-input-container>
          </div>

          <md-input-container class="md-block"  ng-class="{'md-input-invalid': errors.comment}" >
            <label>Commentaire</label>
            <textarea md-no-autogrow ng-model="detailJob.comment" rows="3" md-select-on-focus></textarea>
            <small ng-if="errors.comment" class="input-error">{{ errors.comment }}</small>
          </md-input-container>

        </div>

      </div>
    </md-dialog-content>

    <md-dialog-content ng-if="deleteMode">
      <div class="md-dialog-content">
        <div layout="column" layout-align="center center" flex>
          <span class="md-headline input-error">Etes-vous sûr de supprimer cette saisie ?</span>
          <br>
          <br>
          <span>
            Elle sera definitivement effacee.
          </span>
        </div>
      </div>
    </md-dialog-content>

    <app-widgets-common-dialog-actions ng-if="canEdit && !deleteMode" close="Annuler">
      <md-button ng-click="update()" class="md-primary md-raised">Editer</md-button>
      <md-button ng-click="toggleDeleteMode()" class="md-raised md-warn">Supprimer</md-button>
    </app-widgets-common-dialog-actions>

    <md-dialog-actions ng-if="canEdit && deleteMode">
      <md-button ng-if="!loading" ng-click="delete()" class="md-raised md-warn">Supprimer</md-button>
      <md-button ng-if="!loading" ng-click="toggleDeleteMode()" class="md-raised" aria-label="Annuler">Annuler</md-button>
      <md-progress-linear ng-if="loading" md-mode="indeterminate"></md-progress-linear>
    </md-dialog-actions>


    <app-widgets-common-dialog-actions ng-if="!canEdit" close="Fermer">
    </app-widgets-common-dialog-actions>

  </form>
</md-dialog>
