<div layout="column">

  <app-widgets-loading ng-if="stats.loading()"></app-widgets-loading>

  <div ng-if="!stats.loading() && data.length > 0" flex>

    <div id="chart"></div>

    <c3chart bindto-id="chart" ng-if="data">
      <chart-column
        ng-repeat="i in data"
        column-id="{{ i.customer_id }}"
        column-name="{{ customers[i.customer_id].name }}"
        column-values="{{ i.duration }}"
        column-type="pie"/>
    </c3chart>

  </div>

  <app-widgets-stats-no-data ng-if="!stats.loading() && data.length == 0"></app-widgets-stats-no-data>

</div>
