<div layout="column" layout-padding class="bottom-space">

  <div hide-md hide-lg layout="row">
    <md-input-container flex>
      <md-select ng-model="selected" placeholder="Choisissez une donnee">
        <md-option ng-value="s.id" ng-repeat="s in availableStats">{{ s.label }}</md-option>
      </md-select>
    </md-input-container>
  </div>

  <div hide show-xs layout="row" flex layout-align="center center">
    <span>du</span>
    <md-datepicker  ng-model="filter.begin" md-placeholder="Date début" md-max-date="filter.end" flex></md-datepicker>
  </div>

  <div hide show-xs layout="row" flex layout-align="center center">
    <span>au</span>
    <md-datepicker ng-model="filter.end" md-placeholder="Date fin" md-max-date="today" flex></md-datepicker>
  </div>

  <div hide-xs layout="row">

    <md-input-container class="no-margin" hide show-gt-sm flex>
      <md-select ng-model="selected" placeholder="Choisissez une donnee">
        <md-option ng-value="s.id" ng-repeat="s in availableStats">{{ s.label }}</md-option>
      </md-select>
    </md-input-container>

    <div layout="row" flex="50" flex-gt-sm="25" layout-align="center center" >
      <span>du</span>
      <md-datepicker  ng-model="filter.begin" md-placeholder="Date début" md-max-date="filter.end"></md-datepicker>
    </div>

    <div layout="row" flex="50" flex-gt-sm="25" layout-align="center center" >
      <span>au</span>
      <md-datepicker ng-model="filter.end" md-placeholder="Date fin" md-max-date="today" flex></md-datepicker>
    </div>

  </div>

  <md-divider></md-divider>

  <div ng-switch="selected" flex>
    <app-widgets-stats-customer-time ng-switch-when="customer_time"></app-widgets-stats-customer-time>
    <app-widgets-stats-task-time ng-switch-when="task_time"></app-widgets-stats-task-time>
    <app-widgets-stats-guest-time ng-switch-when="guest_time"></app-widgets-stats-guest-time>
  </div>

</div>
