<div layout="column">

  <app-widgets-loading ng-if="stats.loading()"></app-widgets-loading>

  <app-widgets-common-no-data ng-if="!stats.loading() && time.length == 0" begin="search.begin" end="search.end">
  </app-widgets-common-no-data>

  <div ng-if="!stats.loading() && time.length > 0" flex layout="column" layout-gt-sm="row" layout-padding>

    <app-widgets-stats-container caption="Temps par tâche">
      <div id="time-chart"></div>
    </app-widgets-stats-container>

    <c3chart bindto-id="time-chart" ng-if="time">
      <chart-column
        ng-repeat="i in time"
        column-id="{{ i.task_id }}"
        column-name="{{ tasks[i.task_id].name }}"
        column-values="{{ i.duration }}"
        column-type="pie"/>
      <chart-pie expand="true" show-label="true" label-format-function="formatTime" threshold-label="0.1"/>
    </c3chart>

    <app-widgets-stats-container caption="Coût par tâche">
      <div id="cost-chart"></div>
    </app-widgets-stats-container>

    <c3chart ng-if="cost" bindto-id="cost-chart">
      <chart-column
        ng-repeat="i in cost"
        column-id="{{ i.task_id }}"
        column-name="{{ tasks[i.task_id].name }}"
        column-values="{{ i.cost }}"
        column-type="pie"/>
      <chart-pie expand="true" show-label="true" label-format-function="formatCost" threshold-label="0.1"/>
    </c3chart>

  </div>

  <md-table-container ng-if="!stats.loading() && listing && listing.length != 0">
    <table md-table>
      <thead md-head>
        <tr md-row>
          <th md-column><span>Tâche</span></th>
          <th md-column><span>Temps</span></th>
          <th md-column><span>Coût</span></th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-auto-select ng-repeat="i in listing">
          <td md-cell>{{ i.name }}</td>
          <td md-cell>{{ i.duration }}</td>
          <td md-cell>{{ i.cost }}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

</div>
