<div layout-padding layout-margin layout="column" layout-align="center center">

  <div ng-if="isAdmin || isOwner">

    <div ng-if="group.tasks.length == 0 && group.customers.length == 0">
      <div class="md-headline text-primary">
        Félicitations, vous venez de créer un nouveau groupe.
      </div>
      <p>
        Rendez-vous dès maintenant sous l'onglet "Configuration" pour ajouter des dossiers et tâches,
        et, pour inviter d'autres utilisateurs à saisir leur activité.
      </p>
    </div>

    <div ng-if="group.tasks.length > 0 && group.customers.length == 0">
      <div class="md-headline text-primary">
        Le groupe ne possède aucun dossier
      </div>
      <p>
        Vous devez ajouter des dossiers pour rendre possible la saisie.
        Cliquez sous l'onglet "Configuration" pour en ajouter.
      </p>
    </div>

    <div ng-if="group.tasks.length == 0 && group.customers.length > 0">
      <div class="md-headline text-primary">
        Le groupe ne possède aucune tâche
      </div>
      <p>
        Vous devez ajouter des tâches pour rendre possible la saisie.
        Cliquez sous l'onglet "Configuration" pour en ajouter.
      </p>
    </div>

  </div>

  <div ng-if="!isAdmin && !isOwner">

    <div ng-if="group.tasks.length == 0 && group.customers.length == 0">
      <div class="md-headline text-primary ">
        Ce groupe vient d'être créé.
      </div>
      <p>
        Vous ne pouvez donc pas saisir d'activité.
        Veuillez contacter l'administrateur du groupe pour qu'il le configure.
      </p>
    </div>

    <div ng-if="group.tasks.length > 0 && group.customers.length == 0">
      <div class="md-headline text-primary ">
        Le groupe ne possède pas de dossier
      </div>
      <p>
        Vous ne pouvez donc pas saisir d'activité.
        Veuillez contacter l'administrateur du groupe pour qu'il ajoute des dossiers.
      </p>
    </div>

    <div ng-if="group.tasks.length == 0 && group.customers.length > 0">
      <div class="md-headline text-primary ">
        Le groupe ne possède pas de tâche
      </div>
      <p>
        Vous ne pouvez donc pas saisir d'activité.
        Veuillez contacter l'administrateur du groupe pour qu'il ajoute des tâches.
      </p>
    </div>

  </div>

</div>
