<div>

  <div ng-if="!listing.data()" layout="column" layout-align="center center">
    <md-progress-circular md-mode="indeterminate" md-diameter="150"></md-progress-circular>
    <p>
      Chargement, veuillez patienter.
    </p>
  </div>

  <div ng-if="listing.data()">

    <md-list class="md-body-1">

      <md-list-item class="md-body-2" hide show-gt-md>
        <div layout="row" layout-align="space-between center" flex>
          <div flex="15">Jour</div>
          <div ng-if="isAdmin" flex="25">Utilisateur</div>
          <div flex="25">Dossier</div>
          <div flex="25">Tâche</div>
          <div flex="10">Durée</div>
        </div>
        <md-divider></md-divider>
      </md-list-item>


      <md-list-item ng-repeat="i in listing.data()" ng-click="showDetail($event, i)" hide show-gt-md>
        <div layout="row" layout-align="space-between center" flex>
          <div flex="15">
            {{ i.created | Day }}
          </div>

          <div flex="25" ng-if="isAdmin">
            {{ guests[i.creator_id].full_name }}
          </div>
          <div flex="25">
            {{ customers[i.customer_id].name }}
          </div>
          <div flex="25">
            {{ tasks[i.task_id].name }}
          </div>
          <div flex="10">
            {{ i.duration | Duration }}
          </div>
        </div>
        <md-divider></md-divider>
      </md-list-item>

      <md-list-item  ng-repeat="i in listing.data()" class="md-2-line" ng-click="showDetail($event, i)" hide-gt-md>
        <div class="md-list-item-text" layout="column">
          <div layout="row" layout-align="space-between center">
            <h3>
              {{ customers[i.customer_id].name }}
            </h3>
            <h4>
              {{ i.created | Day }} - <span class="text-primary">{{ i.duration | Duration }}</span>
            </h4>
          </div>
          <h4>{{ tasks[i.task_id].name }}</h4>
          <span class="text-accent">{{ guests[i.creator_id].full_name }}</span>
        </div>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>

  </div>




</div>
