<md-dialog aria-label="Créer un groupe" flex="40">
  <form name="newGroupForm">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Créer un groupe</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Fermer" ng-click="close()">
          <md-icon class="md-24">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block"  ng-class="{'md-input-invalid': errors.name}" >
          <label>Nom du groupe</label>
          <input type="text" ng-model="name">
          <small ng-if="errors.name" class="input-error">{{ errors.name }}</small>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions ng-if="!loading">
      <md-button ng-click="send()" class="md-primary md-raised">Créer</md-button>
      <md-button ng-click="close()" class="md-raised">Annuler</md-button>
    </md-dialog-actions>

    <md-dialog-actions ng-if="loading">
      <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </md-dialog-actions>
    
  </form>
</md-dialog>
