<md-dialog aria-label="Nouveau Groupe" flex="40">
  <form name="newGroupForm">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Nouveau Groupe</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Fermer" ng-click="close()">
          <md-icon md-font-icon="fa fa-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block"  ng-class="{'md-input-invalid': errors.name}" >
          <label>Nom du Groupe</label>
          <input type="text" ng-model="name">
          <small ng-if="errors.name" class="input-error">{{ errors.name }}</small>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button ng-click="send()" class="md-primary md-raised">Creer</md-button>
      <md-button ng-click="close()" class="md-raised">Annuler</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
