<md-dialog aria-label="Créer un groupe" flex="40">
  <form name="newGroupForm">

    <app-widgets-common-dialog-toolbar>Créer un groupe</app-widgets-common-dialog-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block"  ng-class="{'md-input-invalid': errors.name}" >
          <label>Nom du groupe</label>
          <input type="text" ng-model="name">
          <small ng-if="errors.name" class="input-error">{{ errors.name }}</small>
        </md-input-container>

        <app-widgets-common-quota-error></app-widgets-common-quota-error>

      </div>
    </md-dialog-content>

    <app-widgets-common-dialog-actions>
      <md-button ng-click="send()" class="md-primary md-raised">Créer</md-button>
    </app-widgets-common-dialog-actions>

  </form>
</md-dialog>
