<div>
  <div layout="row" layout-align="space-around center" hide show-gt-md layout-padding>

      <md-datepicker  flex="25" ng-model="search.begin" md-placeholder="Date debut" md-max-date="search.end"></md-datepicker>

      <md-datepicker flex="25" ng-model="search.end" md-placeholder="Date fin" md-max-date="today"></md-datepicker>

      <md-input-container flex="25">
        <label>Dossier</label>
        <md-select ng-model="search.customer">
          <md-option ng-repeat="c in group.customers" value="{{ c.id }}">
            {{ c.name }}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container ng-if="isOwner" flex="25">
        <label>Utilisateur</label>
        <md-select ng-model="search.guest">
          <md-option ng-repeat="u in group.guests" ng-if="u.full_name" value="{{ u.id }}">
            {{ u.full_name }}
          </md-option>
        </md-select>
      </md-input-container>

  </div>

  <md-divider></md-divider>

</div>
