<div layout="column" layout-fill>

  <md-whiteframe
    ng-if="quotaError"
    class="md-whiteframe-1dp"
    layout-padding
    flex
    layout-align="center center"
    class="md-body-1"
    style="text-align:center">

    <div ng-switch="quotaError.limit" class="md-title input-error">
      <span ng-switch-when="groups">Vous ne pouvez pas créer de nouveau groupe.</span>
      <span ng-switch-when="guests">Vous ne pouvez pas inviter de nouvel utilisateur.</span>
      <span ng-switch-when="jobs">Vous ne pouvez pas saisir de nouvelle tâche.</span>
    </div>

    <p ng-if="quotaError.limit == 'groups'">
      Pour augmenter vos quotas, changez de plan dans le menu <strong>Abonnement</strong>.
    </p>

    <div ng-if="quotaError.limit != 'groups'">
      <p ng-if="isOwner">
        Pour augmenter vos quotas, changez de plan dans le menu <strong>Abonnement</strong>.
      </p>
      <p ng-if="!isOwner">
        Contactez le propriétaire du groupe pour ajouter de nouveaux utilisateurs.
      </p>
    </div>

  </md-whiteframe>
</div>
