{% extends "account/base.html" %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block content %}


<div class="row">
  {% if done %}

  <div class="center-align blue-text flow-text ">
    Un message contenant un lien vers le formulaire de réinitialisation vient de
    vous être envoyé.
    <br><br>
    Vérifiez votre boîte email.
  </div>

  {% else %}
  <form method="post" class="col s12">


    <div class="row">
      <div class="input-field col s12">
        <label for="email">Email</label>

        <input
          type="text"
          id="email"
          class="form-control {% if errors.email %}invalid{% endif %}"
          name="email"
          maxlength="30"
          value="{{ email }}">

        {% if errors.email %}
        <small class="error red-text">{{ errors.email }} </small>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="g-recaptcha" data-sitekey="{{ CaptchaPubKey}}"></div>
        {% if errors.recaptcha %}
        <small class="error red-text">{{ errors.recaptcha }} </small>
        {% endif %}
      </div>
    </div>

    {% if form.non_field_errors %}
    <div class="row">
      <div class="col s12">
        <p class="red-text">
          {{ form.non_field_errors.0 }}
        </p>
      </div>
    </div>
    {% endif %}

    {% include "account/ok.html" %}

  </form>

  {% endif %}

</div>

{% include "account/menu.html" with view="password" %}

{% endblock %}
