{% extends "account/base.html" %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block content %}


<div class="row">
  {% if found %}

  <form method="post" class="col s12">


    <div class="row">
      <div class="input-field col s12">
        <label for="password1">Nouveau mot de passe</label>

        <input
          type="password"
          id="password1"
          class="form-control {% if errors.password1 %}invalid{% endif %}"
          name="password1"
          maxlength="100">

        {% if errors.password1 %}
        <small class="error red-text">{{ errors.password1 }} </small>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <label for="password2">Confirmation du mot de passe</label>

        <input
          type="password"
          id="password2"
          class="form-control {% if errors.password2 %}invalid{% endif %}"
          name="password2"
          maxlength="100">

        {% if errors.password2 %}
        <small class="error red-text">{{ errors.password2 }} </small>
        {% endif %}
      </div>
    </div>

    {% include "account/ok.html" %}

  </form>

  {% else %}

  <div class="center-align red-text flow-text">
    La requête est expirée.
  </div>

  {% endif %}

</div>

{% include "account/menu.html" %}

{% endblock %}
