<md-bottom-sheet class="md-list md-has-header" ng-cloak>

  <div layout="row" hide show-sm layout-padding layout-align="space-around center">

    <div layout="column" layout-align="center center">
      <md-button class="md-fab md-primary" ng-click="showProfile($event)">
        <md-icon class="md-36">account_box</md-icon>
      </md-button>
      <div>Profile</div>
    </div>

    <div layout="column" layout-align="center center">
      <md-button ng-click="showQuotas($event)" class="md-fab md-primary">
        <md-icon class="md-36">trending_up</md-icon>
      </md-button>
      <div>Quotas</div>
    </div>

    <div layout="column" layout-align="center center">
      <md-button class="md-fab md-primary">
        <md-icon class="md-36">euro_symbol</md-icon>
      </md-button>
      <div>Abonnement</div>
    </div>

    <div layout="column" layout-align="center center">
      <md-button class="md-fab md-warn" ng-href="{{ home }}/account/logout">
        <md-icon class="md-36">directions_run</md-icon>
      </md-button>
      <div>Quitter</div>
    </div>

  </div>

  <div layout="column" hide show-xs layout-padding layout-align="start start">

    <div layout="row" layout-align="center center">
      <md-button class="md-fab md-mini md-primary" ng-click="showProfile($event)">
        <md-icon class="md-24">account_box</md-icon>
      </md-button>
      <div>Profile</div>
    </div>

    <div layout="row" layout-align="center center">
      <md-button ng-click="showQuotas($event)" class="md-fab md-mini md-primary">
        <md-icon class="md-24">trending_up</md-icon>
      </md-button>
      <div>Quotas</div>
    </div>

    <div layout="row" layout-align="center center">
      <md-button class="md-fab md-mini md-primary">
        <md-icon class="md-24">euro_symbol</md-icon>
      </md-button>
      <div>Abonnement</div>
    </div>

    <div layout="row" layout-align="center center">
      <md-button class="md-fab md-mini md-warn" ng-href="{{ home }}/account/logout">
        <md-icon class="md-24">directions_run</md-icon>
      </md-button>
      <div>Quitter</div>
    </div>

  </div>

</md-bottom-sheet>
