<div>

  <app-widgets-big-button></app-widgets-big-button>

  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button hide-gt-md class="md-icon-button" aria-label="Settings" ng-click="toggleSidenav()">
        <md-icon class="md-24">menu</md-icon>
      </md-button>
      <h2>
        <span>{{ MainTitle().title }}</span>
      </h2>
      <span flex></span>

      <md-menu>

        <md-button ng-click="openMenu($mdOpenMenu, $event)" class="md-fab md-mini" aria-label="Favorite">
          <img ng-src="{{ user.picture | Profile }}" class="profile-icon" alt="{{ user.name }}" style="height: 40px; width: 40px;" />
          <md-tooltip md-direction="left" show-gt-md>
            Bonjour, {{ user.name }}
          </md-tooltip>
        </md-button>

        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="showProfile($event)">
              <md-icon>account_box</md-icon>
              Profile
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="showQuotas($event)">
              <md-icon>trending_up</md-icon>
              Quotas
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button>
              <md-icon>euro_symbol</md-icon>
              Abonnement
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button ng-href="{{ home }}/account/logout">
              <md-icon><i class="material-icons">directions_run</i></md-icon>
              Quitter
            </md-button>
          </md-menu-item>
        </md-menu-content>

      </md-menu>

    </div>
  </md-toolbar>

</div>
