<md-dialog aria-label="Exporter les saisies" flex="40">

  <div ng-if="group.tasks.length == 0 || group.customers.length == 0">
    <app-widgets-common-dialog-toolbar>Exporter les saisies</app-widgets-common-dialog-toolbar>

    <md-dialog-content>
      <div layout-padding ng-if="group.tasks.length == 0 && group.customers.length == 0" layout="column" layout-align="center center">
        <div class="md-headline text-primary ">
          Vous ne pouvez encore exporter vos activites
        </div>
        <p>
          Pour pouvoir exporter des activites, un groupe doit
          etres associe a des taches et des dossiers.
        </p>
      </div>
    </md-dialog-content>

    <app-widgets-common-dialog-actions></app-widgets-common-dialog-actions>
  </div>

  <form ng-if="group.tasks.length > 0 && group.customers.length > 0" name="newTaskForm">

    <app-widgets-common-dialog-toolbar>Exporter les saisies</app-widgets-common-dialog-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content md-body-1">

        <p class="md-subhead">
          Saisies du {{ filter.begin | Day }} au {{ filter.end | Day }}
        </p>

        Format d'export :

        <br>
        <br>

        <div layout="column">
          <md-radio-group ng-model="export.fileType" class="md-primary">
            <md-radio-button value="xlsx">XLSX</md-radio-button>
            <md-radio-button value="csv">CSV</md-radio-button>
          </md-radio-group>
        </div>

      </div>
    </md-dialog-content>

    <app-widgets-common-dialog-actions>
      <md-button
        ng-click="hide()"
        ng-href="{{ url }}_{{ export.fileType }}{{ filter.urlParams() }}"
        class="md-primary md-raised" download>
        Télécharger
      </md-button>
    </app-widgets-common-dialog-actions>

  </form>
</md-dialog>
