<md-dialog aria-label="Saisir une activité" flex="50">

  <div ng-if="group.tasks.length == 0 || group.customers.length == 0">
    <app-widgets-common-dialog-toolbar>Saisir une activité</app-widgets-common-dialog-toolbar>
    <md-dialog-content>
      <app-widgets-empty-group><app-widgets-empty-group>
    </md-dialog-content>
    <app-widgets-common-dialog-actions></app-widgets-common-dialog-actions>
  </div>


  <form ng-if="group.tasks.length > 0 && group.customers.length > 0" name="newTaskForm">

    <app-widgets-common-dialog-toolbar>Saisir une activité</app-widgets-common-dialog-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

        <div layout="column">

          <app-widgets-common-quota-error></app-widgets-common-quota-error>

          <md-input-container flex>
            <label>Dossier</label>
            <md-select ng-model="task.customer">
              <md-option ng-repeat="c in group.customers" value="{{ c.id }}">
                {{ c.name }}
              </md-option>
            </md-select>
            <small ng-if="errors.customer" class="input-error">{{ errors.customer }}</small>
          </md-input-container>

          <md-input-container flex>
            <label>Tâche</label>
            <md-select ng-model="task.task">
              <md-option ng-repeat="t in group.tasks" value="{{ t.id }}">
                {{ t.name }}
              </md-option>
            </md-select>
            <small ng-if="errors.task" class="input-error">{{ errors.task }}</small>
          </md-input-container>

          <div layout="row" layout-align="space-between center">

            <md-input-container flex>
              <label>Durée en heures</label>
              <md-select ng-model="task.hours">
                <md-option ng-repeat="h in hours" value="{{ h }}">
                  {{ h }}
                  <span ng-if="h > 1">heures</span>
                  <span ng-if="h <= 1">heure</span>
                </md-option>
              </md-select>
              <small ng-if="errors.duration" class="input-error">{{ errors.duration }}</small>
            </md-input-container>

            <md-input-container flex>
              <label>Durée en minutes</label>
              <md-select ng-model="task.minutes">
                <md-option ng-repeat="m in minutes" value="{{ m }}">
                  {{ m }}
                  <span ng-if="m > 1">minutes</span>
                  <span ng-if="m <= 1">minute</span>
                </md-option>
              </md-select>
              <small ng-if="errors.duration" class="input-error">{{ errors.duration }}</small>
            </md-input-container>
          </div>

          <md-input-container class="md-block"  ng-class="{'md-input-invalid': errors.comment}" >
            <label>Commentaire</label>
            <textarea md-no-autogrow ng-model="task.comment" rows="3" md-select-on-focus></textarea>
            <small ng-if="errors.comment" class="input-error">{{ errors.comment }}</small>
          </md-input-container>

        </div>

      </div>
    </md-dialog-content>

    <app-widgets-common-dialog-actions>
      <md-button ng-click="send()" class="md-primary md-raised">Ajouter</md-button>
    </app-widgets-common-dialog-actions>

  </form>
</md-dialog>
