<md-button class="md-fab md-fab-bottom-right" ng-if="currentTab()" ng-class="{'md-primary': currentTab() == 'export'}" aria-label="Add" ng-click="newDialog($event)">

  <md-tooltip md-direction="left">
    <span ng-if="currentTab() == 'jobs'">Saisir une activité</span>
    <span ng-if="currentTab() == 'export'">Exporter les saisies</span>
  </md-tooltip>

  <md-icon ng-if="currentTab() == 'jobs'" class="md-48" style="margin: -2px 0px 0px -1px ">access_time</md-icon>
  <md-icon ng-if="currentTab() == 'export'" class="md-48" style="margin: -2px 0px 0px -1px ">file_download</md-icon>

</md-button>
